.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: #ddd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3px;
}

.team-button {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.team-score {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: center;
  color: #F23CA6;
}

.edit-button {
  height: 50%;
  align-self: flex-end;
  margin-left: 0.5rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #888;
  padding: 0 32px 32px;
  border-radius: 10px;
  z-index: 99;
  input {
    background-color: #fff;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
